attrs
backcall
bleach
cycler
decorator
defusedxml
doxypypy
entrypoints
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
kiwisolver
lxml
MarkupSafe
matplotlib<3.0
mistune
mpmath
nbconvert
nbformat
notebook
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
scipy
Send2Trash
six
sympy
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
