table.memname tr {
    float: left;
}

table.memname td.paramname code {
    padding: 0;
}

table.memname td {
    padding-left: 0;
    padding-right: 0;
}

.fragment div.line {
    white-space: pre-wrap;
}


:root {
    --dark-primary-color: #00559f;
    --dark-primary-dark-color: #1982d2;
    --dark-primary-light-color: #4779ac;
    --dark-box-shadow: 0 2px 10px 0 rgba(0,0,0,.35);
    --dark-page-background-color: #1C1D1F;
    --dark-page-foreground-color: #d2dbde;
    --dark-page-secondary-foreground-color: #859399;
    --dark-separator-color: #000000;
    --dark-side-nav-background: #252628;
    --dark-code-background: #2a2c2f;
    --dark-menu-focus-foreground: var(--dark-page-background-color);
    --dark-menu-focus-background: var(--dark-primary-color);
    --dark-header-background: var(--dark-page-background-color);
    --dark-header-foreground: var(--dark-page-foreground-color);
    --dark-side-nav-foreground: var(--dark-page-foreground-color);
}

#top {
    color: var(--dark-page-foreground-color);
    background: var(--dark-header-background);
    border-bottom: 1px solid var(--dark-separator-color);
}

#titlearea {
    color: var(--dark-header-foreground);
}

#top .sm-dox ul {
    background: var(--dark-page-background-color);
    box-shadow: var(--dark-box-shadow);
    border: 1px solid var(--dark-separator-color);
    border-radius: var(--border-radius-medium) !important;
}

#top .sm-dox ul a {
    color: var(--dark-page-foreground-color);
    background: var(--dark-page-background-color);
}

#top .sm-dox>li>ul:after {
    border-bottom-color: var(--dark-page-background-color) !important;
}

#top .sm-dox>li>ul:before {
    border-bottom-color: var(--dark-separator-color) !important;
}

#top .sm-dox ul a:hover,
#top .sm-dox ul a:active,
#top .sm-dox ul a:focus {
    color: var(--dark-menu-focus-foreground);
    background-color: var(--dark-menu-focus-background);
}

#top .sm-dox a,
#top .sm-dox a:focus {
    color: var(--dark-header-foreground);
}

#top .sm-dox a:hover,
#top .sm-dox a:active {
    color: var(--dark-menu-focus-foreground);
    background: var(--dark-menu-focus-background);
}

#top .arrow {
    color: var(--dark-primary-light-color);
}


#side-nav {
    color: var(--dark-page-foreground-color);
    background: var(--dark-side-nav-background);
}

#side-nav a,
#side-nav a.el:visited,
#side-nav a.el:hover,
#side-nav a.el:focus,
#side-nav a.el:active {
    color: var(--dark-primary-dark-color);
}

#nav-tree .selected {
    box-shadow: inset 4px 0 0 0 var(--dark-primary-dark-color);
}

#nav-tree a {
    color: var(--dark-side-nav-foreground);
}

#nav-tree .arrow {
    color: var(--dark-primary-light-color);
    opacity: 0.25;
}

#nav-tree .selected a {
    color: var(--dark-primary-dark-color);
}

@media screen and (max-width: 767px) {
    .sm-dox a span.sub-arrow {
        background: var(--dark-code-background);
    }
}


@media screen and (min-width: 768px) {
    .sm-dox a span.sub-arrow {
        border-color: var(--dark-header-foreground) transparent transparent transparent;
    }
    .sm-dox a:hover span.sub-arrow {
        border-color: var(--dark-menu-focus-foreground) transparent transparent transparent;
    }
    .sm-dox ul a span.sub-arrow {
        border-color: transparent transparent transparent var(--dark-header-foreground);
    }
    .sm-dox ul a:hover span.sub-arrow {
        border-color: transparent transparent transparent var(--dark-menu-focus-foreground);
    }
}


#nav-path ul {
    color: var(--dark-page-foreground-color);
    background: var(--dark-page-background-color);
    border-top: 1px solid var(--dark-separator-color);
    border-bottom: 1px solid var(--dark-separator-color);
}

.navpath li.footer {
    color: var(--dark-page-secondary-foreground-color);
}

.navpath li.navelem a {
    color: var(--dark-primary-dark-color)
}

#nav-path li.navelem:after {
    content: '';
    border: 5px solid var(--dark-page-background-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: scaleY(4.2);
}

#nav-path li.navelem:before {
    content: '';
    border: 5px solid var(--dark-separator-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: scaleY(3.2);
}

.navpath li.navelem a:hover {
    color: var(--dark-primary-color);
}

.navpath li.footer:before {
    content: "(theme based on doxygen-awesome-css)";
    margin-right: 2em;
}
